.body{

  /* width: 100vh; */
  padding: 20px;
  box-sizing: border-box;
background-color: aqua;
}


#main-container{
  display: flex;

  justify-content: center;
}
.init-details-container{
  /* width: 1200px; */
display: flex;
justify-content: center;
flex-direction: column;

}

#spot-details-container{
  /* width: 1200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
/* background-color: blue; */

}
.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 40vh;
  }



  ul#images {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 1150px;
    height: 100%;
    grid-auto-rows: 200px;
}

  ul#images li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  ul#images li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Make the first image extend 2 rows and 2 columns */
  ul#images li:first-child {
    grid-row: span 2;
    grid-column: span 2;
  }
  #description-btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 0px;
    margin-left: 40px;

  }
  #reserve-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    border: 2px black solid;
    width: 350px;
    border-radius: 10px;
    justify-self: end;

  }
  #reserve-btn-container {
    grid-column: 1 / span 2;
    height: 20px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 20px;
    height: 50px;

}
#reserve-btn{
    width: 80%;
    height: 35px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 2px black;
    color: white;
    background-color: #FF5A5F
}


#review-in-reserve{
    text-align: right;
    margin-right: 40px;
    text-align: bottom;
    font-size: 12px;
    margin-bottom: 0px;
}

#price-in-reserve{
    display: flex;
    gap: 2px;
    margin-bottom: 7px;
    margin-left: 35px;
    align-items: flex-end;

}
#price-in-reserve > :first-child {
   font-size: 18px;
   margin-bottom: 0px;
   font-weight: bold;
}
#price-in-reserve > :nth-child(2) {
   font-size: 10px;


}
#night-container{
display: grid;

grid-template-columns: 1fr;
    /* background-color: aqua; */

}

#night-container :nth-child(1){
  align-self: end;
  /* background-color: red; */
  margin-bottom: 2px;
  /* font-weight: bold; */
}





#spot-name{
    margin-left: 40px;
    align-self: flex-start;
}
#spot-city{
    margin-left: 40px;
}

#spot-details-container{

  border-bottom: solid 1px black;
}

.init-details-container{
max-width: 1000px;

}
