#delete-review-button button{
    color: white;
    background-color:  #757373;
    border: solid black 1px;
 box-shadow: 3px 3px 2px black;
}


#review-container{
 list-style: none;
}
#user-review-logo{
    font-size: 1.5rem;
}
