

#sign-up-container{
display: flex;
flex-direction: column;
/* background-color: aqua; */
justify-content: center;
align-items: center;
width: 300px;
border-radius: 10px;

}



#form-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 04px;
}

.input-box{
border-width: 2px;

}
#sign-up-button{
    width: 100%;;
    background-color: lightgray;
}
#signup-form{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;

}
#signup-form input{
margin-left: 0px;
background-color: rgb(207, 219, 252);
}

.signup-label-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 25px;
    margin-right: 10px;
}
#sign-up-container button{
background-color:  #FF5A5F;
border: black solid 1px;
box-shadow: 3px 3px 2px black;
margin-bottom: 20px;
margin-top: 15px;
width: 250px ;
margin-right: 25px;
height: 30px;
color: white;
}

#sign-up-container button:disabled{
    background-color: gray;
    border: black solid 1px;
    box-shadow: none;
cursor: not-allowed;
}
.signup-label-container input {
    width: 250px;
    margin-left: 10px ;
}

.signup-label-container label {

    margin-left: 100px ;
}

#errors-sign-up{
    color: red;
    font-size: 12px;
    width: 250px;
}
