.star-container {
    cursor: pointer;
    display:flex ;
    flex-direction: row-reverse ;
  }


#review-rating-star:hover {

color: gold;
}

.star-container .star.clicked {
  color: gold;
}


  .star-container span {
    color: gray;
    transition: color 0.3s ease;
  }

  .star-container span:hover,
  .star-container span:hover ~ span

  {
    color: gold;
  }



#form-review{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  border: solid 4px black;
  border-radius: 10px;
}
#form-review textarea {

  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
}
.star-container{
  text-align: center;
}

#submit-review-btn{
  background-color:  #FF5A5F;
  border: black solid 1px;
  box-shadow: 3px 3px 2px black;
  color: white;
margin-bottom: 20px;
height: 30px;
width: 90%;
/* margin-right: 10px;
margin-left: 10px; */
}
#submit-review-btn:disabled{
  background-color: gray;
  border: black solid 1px;
  box-shadow: none;
}
