body{
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
    margin:0px;
}


.form-container {

    /* background-color: lightblue; */
    display: flex;
    justify-content: center;

}

.form-container input {

    width: 300px;
    border: 2px solid black;
    background-color: rgb(207, 219, 252);
}

#form-container2{
    width: 500px;
/* background-color: lightgray; */
/* border: 1px solid black; */
}

.form-div-container{
    width: 100%;
}


.label-container{
display: flex;
flex-direction: column;
width: 100%;
justify-content: start;
}
.label-container input {

    border: 2px solid black;
    background-color: rgb(207, 219, 252);
}
#state-container{
display: flex;

}
#state-container p{
margin-left: 10px;
margin-right: 10px;
}

#latitude-container{
    display: flex;
    border-bottom: solid black 2px;
}

#latitude-container p{
    margin-left: 10px;
    margin-right: 10px;
    }
#p-in-textarea{
font-size: 12px;

}
textarea {
    height: 100px;
    border: 2px solid black;
    background-color: rgb(207, 219, 252);
    width: 300px;

}
#text-area-footer{
    border-bottom: solid black 2px;
    margin-top: 20px;
}

#price-div{
    display: flex;

    height: 20px;
    align-items: center;
    gap: 5px;
}
#price-div input{
    width: 100%;
}

#submit-form-button{
margin-top: 30px;
box-shadow: 3px 3px 2px black;
background-color: #FF5A5F;
border: 2px solid black;
color: white;
margin-bottom: 20px;
margin-right: 190px;
}

#submit-form-button[disabled]{
opacity: 0.6;
cursor: not-allowed;


}
.errors{
    color:red;
    font-size: 10px;
}
#div-button-container{
    display: flex;
    justify-content: center;
}
.image-container{
    margin-top: 10px;

}
