

#spots-list{

    /* background-color: aqua; */
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
     justify-content: center;
     padding: 0px;
}

.spot-container{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    /* border: 1px solid black; */
    /* background-color: blueviolet; */
    /* justify-content: center; */
  /* align-items: center; */
  border-radius: 10px 10px 10px 10px;
  transition:  all 0.3s;

&:hover{

    /* background-color: red; */
    transition:  all 0.3s;
    transform: scale(1.1);
}

}




.spot-container img {

    width: 100%;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
}

#address-rating{
    display: flex;
justify-content: space-between;
/* background-color: blue; */
width: 95%;


}

#price{
/* background-color: brown; */
align-self: flex-start;
margin-top: 0px;

font-size: .8em;
margin-left: 20px
}

#price span{
font-weight: bold;
}


#address-rating {
    margin-left: 10px;
}


#pagination-container{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 10px;
}
#pagination-container button{
    border-radius: 10px;
    border-width: 1px;
    border-style: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;

    /* border: none; */
    background-color: #FF5A5F;
    color: white;
    font-weight: bold;
}

.disabled-button{
    opacity: 50%;
    cursor: not-allowed;
}
