

#spots-list{

    /* background-color: aqua; */
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}

.spot-container{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    /* border: 1px solid black; */
    /* background-color: blueviolet; */
    /* justify-content: center; */
  /* align-items: center; */
  border-radius: 10px 10px 10px 10px;
  transition:  all 0.3s;

&:hover{

    /* background-color: red; */
    transition:  all 0.3s;
    transform: scale(1.1);
}

}




.spot-container img {

    width: 100%;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
}

#address-rating{
    display: flex;
justify-content: space-between;
/* background-color: blue; */
width: 95%;


}

#price{
/* background-color: brown; */
align-self: flex-start;
margin-top: 0px;

font-size: .8em;
margin-left: 20px
}

#price span{
font-weight: bold;
}


#address-rating {
    margin-left: 10px;
}
