


#login-buttons-container{
display: flex;
flex-direction: column;
/* justify-content: flex-start; */

}

#login-buttons-container button{
    border: none;
    background-color: white;
    width: 150px;
margin-bottom: 5px;
text-align: start;
}
