
body{
    box-sizing: border-box;
    /* background-color: lightblue; */
    margin:0px;
    font-family: "Helvetica", sans-serif;
}

a,
button {

    cursor: pointer;
}

.hidden{
    display: none;
}

/* #nav-container {
background-color: lightgray;
border: 1px black solid;
height: 40px;
} */

#header{
display: flex;
border-bottom: solid 2px lightgrey;
list-style-type: none;
justify-content: space-between;
align-items: center;
margin-top: 0px;
padding-left: 20px ;
padding-right: 20px;
height: 70px;
}

#button-container{
background-color: white;
size: 14px;
display: flex;
justify-content:center;
align-items: center;
gap: 5px;

/* height: 40px;
width: 80px; */
font-size:  18pt;
border: 1px solid black;
position: relative;


height: 3rem;
width: 5rem;
border-radius: 5rem 5rem 5rem 5rem;
}

#logo-image{
width: 140px;
height: 80px;

}

.profile-dropdown{
border: 2px solid black;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
background-color: white;
list-style-type: none;
position:absolute;
z-index: 1;
right: 10px;
font-size: 14pt;
text-align: center;
padding-left:10px;
padding-right: 10px;
}

#log-out-button{
background-color: #999999;
color: white;
height: 3rem;
width: 5rem;
border: 1px solid black;
border-radius: 5rem 5rem 5rem 5rem;
font-size: 13pt;
margin-bottom: 5px;
margin-top: 5px;
}

#manage-link{
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid black; */
    height: 30px;
    margin-bottom: px;
    margin-top: 10px;
}
#custom-link {
    /* border: 1px solid blue; */
    text-decoration: none;
    /* color: red; */
}
#header-menu-create{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
